<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<app-header></app-header><br><br>
<div class="grid_3">
  <div class="container" style="border:1px solid black;">
    <div class="col-md-12 user-bg">
      <div class="col-md-6 col-sm-6 no-pm">
        <div class="col-md-12 user-left">
          <p class="profile-txt"><span>About us</span></p>
          <div class="col-md-12 no-pm">
       <img src="../../assets/Homepage final.jpg" style="width:100%;" class="pull-left inr-img">
      <p class="">
 <br>
     Lord VISHWAKARMA is considered by followers of the Hindu faith to be the divine architect or engineer of the universe. Drawing inspiration from Lord Viswakarma, his descendants are renowned for their outstanding architectural skills. The ancient temples of Sri Kalahasthi, Tirupathi, Srisailam, Lepakshi, Amaravathi, 1000 pillars, Alampur, Arasavilli, Bhadrachalam and Ramappa in Telangana and Andhra Pradesh bear ample testimony to the precision, skills and aesthetic craftsmanship of the Vishwabrahmins.<br>
 <br>
 <br>
  In modern times, the Vishwabrahmins have diversified their occupations from the building trade to embrace newer professions like medicine, engineering, law, management, governance, arts and education, among others, in tune with the trends of the present day. However, although the Vishwabrahmins have been making a substantial contribution to the social, cultural and economic fields through the ages, recognition for their contribution to the well-being of the Telugu speaking people is inadequately acknowledged.
 <br>
 <br>
     <br>
 There is therefore, a collective effort that is needed to rejuvenate the   Viswakarma community with planned and programmed interventions, a responsibility that the Vishwakarma Foundation and Seva Trust, founded by eminent members of the Vishwabrahmin community, has been shouldering since in 2014. Since then, every year new activities are added to serve community members optimally and improve, after a detailed consultative process.
     <br>
 <br>
     <br>
 <br>
   </p>
 <div class="clearfix"></div>
 </div>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-6 no-rp1">
       <div class="col-md-12 user-right reg">
        <h4 >Members</h4>
        <div class="row">
          <div class="col-sm-4">
            <img src="../../assets/b1.jpg" class="img1">
          <h5>Dr. Golthi Mallikarjun<br> Rao</h5>
          </div>
          <div class="col-sm-4">
            <img src="../../assets/b2.jpg" class="img1">
          <h5>Sri Patnala Vijay <br>Kumar </h5>
          </div>
          <div class="col-sm-4">
            <img src="../../assets/b3.jpg" class="img1">
           <h5>Sri Chintada <br>Narender Kumar</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <img src="../../assets/b4.jpg" class="img1">
            <h5>Sri Dakoju Kashyap </h5>
          </div>
          <div class="col-sm-4">
            <img src="../../assets/b5.jpg" class="img1">
            <h5>Dakoju Ravishankar</h5>
          </div>
          <div class="col-sm-4">
            <img src="../../assets/b6.jpg" class="img1">
            <h5>Sri Dakoju Balaji <br>Balaa</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <img src="../../assets/b7.jpg" class="img1">
            <h5>TV Rao</h5>
          </div>
          <div class="col-sm-4">
            <img src="../../assets/b8.jpeg" class="img1">
            <h5>PVRK Prasad</h5>
          </div>
          <div class="col-sm-4">
            <img src="../../assets/b9.jpg" class="img1">
            <h5>Sri Anupoju Satya <br>Prabhakar Rao</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <img src="../../assets/b10.jpg" class="img1">
            <h5>Sri Anupoju<br> Mallikarjun Rao</h5>
          </div>
          <div class="col-sm-4">
            <img src="../../assets/b11.jpeg" class="img1">
            <h5>Kandukuri uma <br>maheswara<br> chary</h5>
          </div>
          <div class="col-sm-4">
            <img src="../../assets/b12.jpeg" class="img1">
            <h5>Repaka<br> Subramanyam</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <img src="../../assets/b13.jpeg" class="img1">
            <h5>Acharya<br> Gurajapu Varaprasad<br>
              (Chairman And NRI <br>- VKPATRON VKFST)</h5>
          </div>
          
        </div>

       </div>
       </div>

     </div>

   <div class="clearfix"> </div>
  </div>
</div>
<br><br>
<div class="container">
  <div class="row">
    <div class="col">
      <h4>About Us</h4>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
           Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris."</p>
    </div>
    <div class="col">
      <h4>Help &amp; Support</h4>
    <ul class="footer_links">
      <li><a href="#">24x7 Live help</a></li>
      <li><a href="#">Contact us</a></li>
      <li><a href="#">Feedback</a></li>
      <li><a href="#">FAQs</a></li>
    </ul>
    </div>
    <div class="col">
      <h4>Quick Links</h4>
  <ul class="footer_links">
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Terms and Conditions</a></li>
    <li><a href="#">Services</a></li>
  </ul>
    </div>
    <div class="col">
      <h4>Social</h4>
    
      <a class="active" href="#"><i class="fa fa-facebook"> </i></a>&nbsp;&nbsp;
            <a href="#"><i class="fa fa-twitter"></i></a> &nbsp;&nbsp;
            <a href="#"><i class="fa fa-google-plus"></i></a> &nbsp;&nbsp;
            <a href="#"><i class="fa fa-youtube fa1"></i></a>&nbsp;&nbsp;
    </div>
  </div>
</div>





