
<app-header1></app-header1><br>
<!-- <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  </head> -->
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-sm-6 p-3 bg-white text-black">
       <div class="bord">
         <div class="container"><br>
          <div class="post-container">                
            <div class="post-thumb">
              <a href="#"> <h5><B>VKFSAT00123</B></h5></a>
              <img src="../../assets/rc.jpg" />
            </div>
            <div class="post-content">
                <h3 class="post-title">Details</h3>
                <p>Name:</p>
                          <p>Age:</p>
                          <p>Gender:</p>
                          <p>Contact:</p>
                          <p>Address:</p> 
           </div>
        </div>
        <div class="post-container">                
          <div class="post-thumb">
            <a href="#"> <h5><B>VKFSAT00123</B></h5></a>
            <img src="../../assets/rc.jpg" />
          </div>
          <div class="post-content">
              <h3 class="post-title">Details</h3>
              <p>Name:</p>
                        <p>Age:</p>
                        <p>Gender:</p>
                        <p>Contact:</p>
                        <p>Address:</p> 
         </div>
      </div>
      <div class="post-container">                
        <div class="post-thumb">
          <a href="#"> <h5><B>VKFSAT00123</B></h5></a>
          <img src="../../assets/rc.jpg" />
        </div>
        <div class="post-content">
            <h3 class="post-title">Details</h3>
            <p>Name:</p>
                      <p>Age:</p>
                      <p>Gender:</p>
                      <p>Contact:</p>
                      <p>Address:</p> 
       </div>
    </div>
    <div class="post-container">                
      <div class="post-thumb">
        <a href="#"> <h5><B>VKFSAT00123</B></h5></a>
        <img src="../../assets/rc.jpg" />
      </div>
      <div class="post-content">
          <h3 class="post-title">Details</h3>
          <p>Name:</p>
                    <p>Age:</p>
                    <p>Gender:</p>
                    <p>Contact:</p>
                    <p>Address:</p> 
     </div>
  </div>
  <div class="post-container">                
    <div class="post-thumb">
      <a href="#"> <h5><B>VKFSAT00123</B></h5></a>
      <img src="../../assets/rc.jpg" />
    </div>
    <div class="post-content">
        <h3 class="post-title">Details</h3>
        <p>Name:</p>
                  <p>Age:</p>
                  <p>Gender:</p>
                  <p>Contact:</p>
                  <p>Address:</p> 
   </div>
</div>
<div class="post-container">                
  <div class="post-thumb">
    <a href="#"> <h5><B>VKFSAT00123</B></h5></a>
    <img src="../../assets/rc.jpg" />
  </div>
  <div class="post-content">
      <h3 class="post-title">Details</h3>
      <p>Name:</p>
                <p>Age:</p>
                <p>Gender:</p>
                <p>Contact:</p>
                <p>Address:</p> 
 </div>
</div>
<div class="post-container">                
  <div class="post-thumb">
    <a href="#"> <h5><B>VKFSAT00123</B></h5></a>
    <img src="../../assets/rc.jpg" />
  </div>
  <div class="post-content">
      <h3 class="post-title">Details</h3>
      <p>Name:</p>
                <p>Age:</p>
                <p>Gender:</p>
                <p>Contact:</p>
                <p>Address:</p> 
 </div>
</div>
<div class="post-container">                
  <div class="post-thumb">
    <a href="#"> <h5><B>VKFSAT00123</B></h5></a>
    <img src="../../assets/rc.jpg" />
  </div>
  <div class="post-content">
      <h3 class="post-title">Details</h3>
      <p>Name:</p>
                <p>Age:</p>
                <p>Gender:</p>
                <p>Contact:</p>
                <p>Address:</p> 
 </div>
</div>
           
               
  </div>
  </div>
 </div>
      <div class="col-sm-5 p-3 bg-white text-black">
        <div class="bord">
          <div class="post-container">                
            <div class="post-thumb">
             <a href="#"> <h5><B>VKFSAT00123</B></h5></a>
              <img src="../../assets/rc.jpg" /></div>
            <div class="post-content">
                <h3 class="post-title">Details</h3>
                <p>Name:</p>
                          <p>Age:</p>
                          <p>Gender:</p>
                          <p>Contact:</p>
                          <p>Address:</p> 
           </div>
        </div>
         </div>
          
        
        </div>
    
    </div>
  </div>

 
     
    
      
