<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <div class="container-fluid">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="navbar-nav ms-auto">
      <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
      <a href="../register"><button mat-menu-item>  
        <span>Register</span>
      </button></a>
      <a href="../login"><button mat-menu-item>
        <span>Login</span>
      </button></a>
      </mat-menu>
        <a href="../index" class="navbar-nav ms-auto">
            <img src="../../assets/logo.png" height="28" width="380" alt="CoolBrand">
        </a>
            <div class="navbar-nav ms-auto" >
        <a href="../about" class="nav-item nav-link " style="color:white ;">Home</a>
                <a href="#" class="nav-item nav-link "  style="color:white ;">New Matches</a>
                <a href="#" class="nav-item nav-link" style="color:white ;">My Profile</a>
                <a href="#" class="nav-item nav-link " style="color:white ;">Upgrde</a>
                <a href="#" class="nav-item nav-link" style="color:white ;">Logout</a>
            </div>
        </div> 
  </nav>