<app-header></app-header>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head><br><br>
  <div class="container">
    <div class="row">
      <div class="col">
       
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Enter Your Username" [(ngModel)]="Username" >
              
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter Your Password"  [(ngModel)]="Password">
              </mat-form-field>
              <div class="example-button-row">
                <button mat-raised-button color="accent"  (click)="login()">Login</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-raised-button color="accent">New User</button>&nbsp;
                <span>Forgot password</span>
              </div>
      </div>
      <div class="col">
        <div class="icon-bar">
            <a class="active" href="#"><i class="fa fa-facebook">&nbsp;&nbsp; &nbsp;&nbsp;Share on Facebook </i></a> <br><br>
            <a href="#"><i class="fa fa-twitter">&nbsp;&nbsp;&nbsp;&nbsp;Tweet</i></a> <br><br>
            <a href="#"><i class="fa fa-google-plus">&nbsp;&nbsp;&nbsp;&nbsp;Share on Google+</i></a> <br><br>
            <a href="#"><i class="fa fa-linkedin">&nbsp;&nbsp;&nbsp;&nbsp;Share on LinkedIn</i></a><br><br>
            <a href="#"><i class="fa fa-envelope-o">&nbsp;&nbsp;&nbsp;&nbsp;E-mail</i></a> <br><br>
 
</div>
      </div>
    </div>
  </div><br><br>
 
    <div class="container">
        <div class="row">
          <div class="col">
            <h4>About Us</h4>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris."</p>
          </div>
          <div class="col">
            <h4>Help &amp; Support</h4>
          <ul class="footer_links">
            <li><a href="#">24x7 Live help</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Feedback</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
          </div>
          <div class="col">
            <h4>Quick Links</h4>
        <ul class="footer_links">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms and Conditions</a></li>
          <li><a href="#">Services</a></li>
        </ul>
          </div>
          <div class="col">
            <h4>Social</h4>
          
            <a class="active" href="#"><i class="fa fa-facebook"> </i></a>&nbsp;&nbsp;
                  <a href="#"><i class="fa fa-twitter"></i></a> &nbsp;&nbsp;
                  <a href="#"><i class="fa fa-google-plus"></i></a> &nbsp;&nbsp;
                  <a href="#"><i class="fa fa-youtube fa1"></i></a>&nbsp;&nbsp;
          </div>
        </div>
      </div>
   

