<app-header></app-header><br><br>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  
  
  <div class="container-fluid ">
    <div class="row">
      <div class="col p-6 "><br>
        <span class="con">Contact us</span><br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3807.0519576803476!2d78.49058921428319!3d17.40929400675665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb99ebddad8e53%3A0x870b2a2b92b54c6b!2sHimasai+Gulmohar+Apartments%2C+1-1-365A%2C+Chikkadpalli+Rd%2C+Jawahar+Nagar%2C+Kavadiguda%2C+Hyderabad%2C+Telangana+500020!5e0!3m2!1sen!2sin!4v1452582972004" 
        width="250" height="250" frameborder="0" style="border:0" allowfullscreen="" class="img">
        </iframe>
        </div><br><br>
      <div class="col p-6 ">
        <div class="col-md-5 col-sm-5" style="margin-top:-10px;position: relative;top:30px;">
            <h5><strong>Registered Office</strong></h5>
            <b>Vishwakarma Foundation and Seva Trust </b><br>
            #1-1-365/A, Flat no. 302,<br> Himasai Gardens, Gulmohar Block,<br> Jawahar Nagar ,<br> Hyderabad - 500020
            <br>  <br>
            <h5><strong>Trust Offices</strong></h5>
                SRT 281, 2nd Floor <br>
                Sanathnagar<br>
                Hyderabad - 500018 <br><br>
                Kausalyam, #1-1-230/4 <br>
                Chikkadpally<br>
                Hyderabad - 500020<br><br>
            <h5><strong>Contact :</strong></h5>
            +91 9866861110<br> +91 9849225878<br>+91 9490932312<br>
            <br><br>
            <h5><strong>Email :</strong></h5>
            www.vishwakarmaallianceservices@gmail.com
            <br>
        </div>
        </div>
      
    </div>
  </div><br><br>
  <div class="container">
    <div class="row">
      <div class="col">
        <h4>About Us</h4>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
             Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris."</p>
      </div>
      <div class="col">
        <h4>Help &amp; Support</h4>
      <ul class="footer_links">
        <li><a href="#">24x7 Live help</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Feedback</a></li>
        <li><a href="#">FAQs</a></li>
      </ul>
      </div>
      <div class="col">
        <h4>Quick Links</h4>
    <ul class="footer_links">
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms and Conditions</a></li>
      <li><a href="#">Services</a></li>
    </ul>
      </div>
      <div class="col">
         <h4><b>Social</b></h4>
      
        <a class="active" href="#"><i class="fa fa-facebook"> </i></a>&nbsp;&nbsp;
              <a href="#"><i class="fa fa-twitter"></i></a> &nbsp;&nbsp;
              <a href="#"><i class="fa fa-google-plus"></i></a> &nbsp;&nbsp;
              <a href="#"><i class="fa fa-youtube fa1"></i></a>&nbsp;&nbsp;
      </div>
    </div>
  </div>