<!-- <head>
   
    <link href="//fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    </head> -->
    <app-header></app-header><br><br>
    <body>
       <div class="container-fluid mt-3">
        <div class="row">
          <div class="col-sm-3 p-3 ">
              <h3>President Message</h3>
            <img src="../../assets/MallikarjunaRao 2.jpg" alt="..."  class="img">
          </div>
          <div class="col-sm-9 p-3 ">
              <br><br>
            <p class="text-justify">
                Dr. Golthi Mallikarjun Rao is the founder and President of the Vishwakarma Foundation and Seva
            Trust. "Vishwakarma Alliance Services" (VKAS) a part in Vishwakarma Foundation and Seva Trust
            (VKFST)
            <br>
            <br>
            Dear Brahmasri Vishwakarman including friends and well-wishers,
            <br>
            <br>
            Namaskaram..!
            <br>
            <br>
            My name is Dr. Golthi Mallikarjun Rao and I am the Founder - President of VKFST. It is with great
            
            pleasure that we welcome each and every one of you visitors on behalf of Vishwakarma Alliance
            
            Services to our website.
            
            </p><br><br>
          </div>
          <div class="row">
          <p class="text-justify" id="note">
            Having acquired around 37 years of experience in the field higher education, communications, and
        
            having best relations in our community. We have been providing expert advice and have been
            
            providing best service since the last 5 decades to the members of our community. I along with many
            
            like minded community members have come together to serve this organization.
            <br>
            <br>
            VKFST is a charitable organization that stands for Vishwakarma's operating from Hyderabad in the
            
            state of Telangana. This foundation has been established on 18th February 2014 vide registration #
            
            33/IV/2014 and amended the document in 22.12.2015 vide registration # 251/IV/2015.<br>
            <br>
            
            We are providing the following wedding related services to the needy people of Vishwa Brahmins: <br>
            <br>
            
            1. Alliance Services<br>
            
            2. Purohit Services <br>
            
            3. Wedding Invitations<br>
            
            4. Catering Services<br>
            
            5. Video and Photography Services <br>
            
            6. Design and Decorative Services<br>
            
            7. Function Halls / Banquette Halls Booking
            <br>
            8. Accommodation and Transportation Service and <br>
            
            9. Event Management services<br>
            <br>
            
            Sd/-<br>
            
            Dr.GolthiMallikarjun Rao<br>
            
            Founder President
            
          </p>
          </div>
          
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <h4>About Us</h4>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris."</p>
          </div>
          <div class="col">
            <h4>Help &amp; Support</h4>
          <ul class="footer_links">
            <li><a href="#">24x7 Live help</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Feedback</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
          </div>
          <div class="col">
            <h4>Quick Links</h4>
        <ul class="footer_links">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms and Conditions</a></li>
          <li><a href="#">Services</a></li>
        </ul>
          </div>
          <div class="col">
            Column <h4>Social</h4>
          
            <a class="active" href="#"><i class="fa fa-facebook"> </i></a>&nbsp;&nbsp;
                  <a href="#"><i class="fa fa-twitter"></i></a> &nbsp;&nbsp;
                  <a href="#"><i class="fa fa-google-plus"></i></a> &nbsp;&nbsp;
                  <a href="#"><i class="fa fa-youtube fa1"></i></a>&nbsp;&nbsp;
          </div>
        </div>
      </div>
        </body>