<app-header1></app-header1>
<br>
<br>
<div class="container">
  <div class="row">
  <div class="col">
   <div class="container1">
     <div class="row">
       <div class="col">
      <img src="../../assets/rc.jpg" height="200" width="200">
       </div>
       <div class="col">
<pre>
  <h2>Profile Details:</h2>
</pre>
       </div>
     </div>
   </div>
  </div>
  <div class="col" >
    <div class="bord">
      <h2>Suitable matches</h2>
      
    </div>
  </div>
</div><br><br>
<div class="row">
  <div class="col">
    <mat-tab-group animationDuration="2000ms">
      <mat-tab label="First">
        All the powers in the universe are already ours. It is we who have put our hands before our eyes and cry that it is dark.
      </mat-tab>
      <mat-tab label="Second">
        All the powers in the universe are already ours. It is we who have put our hands before our eyes and cry that it is dark.
      </mat-tab>
      <mat-tab label="Third">
        All the powers in the universe are already ours. It is we who have put our hands before our eyes and cry that it is dark.
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
</div>
 

  