
   <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <app-header></app-header><br>
   <div class="grid_3">
    <div class="container" style="border:1px solid black;">
      <div class="col-md-12 user-bg">
        <div class="col-md-12 no-pm">
          <div class="col-md-12 user-left">
            <p class="profile-txt"><!--<span>Username</span> --></p>
            <!--Basic Information Start-->
            <div class="col-md-12 user-basic no-pm">
             <h3>We are providing the following services</h3>
               <div class="col-md-12 form-group no-pm clearfix">
  
    <div class="row">
     <div class="col-sm-6 col-md-4">
       <div class="thumbnail">
        <img src="../../assets/a1.png" alt="...">
         <div class="caption">
           <h3>Accommodation and Transportation</h3>
         </div>
       </div>
     </div>
      <div class="col-sm-6 col-md-4">
       <div class="thumbnail">
         <img src="../../assets/a2.png" alt="...">
         <div class="caption">
           <h3>Alliance Services</h3>
         </div>
       </div>
     </div>
       <div class="col-sm-6 col-md-4">
       <div class="thumbnail">
        <img src="../../assets/a3.png" alt="...">
         <div class="caption">
           <h3>Catering Services</h3>
         </div>
       </div>
     </div>
   </div>
     <div class="row">
     <div class="col-sm-6 col-md-4">
       <div class="thumbnail">
          <img src="../../assets/a4.png" alt="...">
         <div class="caption">
           <h3>Decoration</h3>
         </div>
       </div>
     </div>
      <div class="col-sm-6 col-md-4">
       <div class="thumbnail">
         <img src="../../assets/a5.png" alt="...">
         <div class="caption">
           <h3>Events</h3>
         </div>
       </div>
     </div>
      <div class="col-sm-6 col-md-4">
       <div class="thumbnail">
     <img src="../../assets/a6.png" alt="...">
         <div class="caption">
           <h3>Function Halls</h3>
         </div>
       </div>
     </div>
     <div class="col-sm-6 col-md-4">
       <div class="thumbnail">
        <img src="../../assets/a7.jpg" alt="...">
         <div class="caption">
           <h3>Purohit Services</h3>
         </div>
       </div>
     </div>
  
     <div class="col-sm-6 col-md-4">
       <div class="thumbnail">
        <img src="../../assets/a8.png" alt="...">
         <div class="caption">
           <h3>Video and Photography</h3>
         </div>
       </div>
     </div>
      <div class="col-sm-6 col-md-4">
       <div class="thumbnail">
        <img src="../../assets/a9.png" alt="...">
         <div class="caption">
           <h3>Wedding Invitations</h3>
         </div>
       </div>
     </div>
   </div>
           </div>
         </div>
   </div>
    </div>
        </div>
  
     <div class="clearfix"> </div>
    </div>
  </div><br><br><br>
  <div class="container">
    <div class="row">
      <div class="col">
        <h4>About Us</h4>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
             Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris."</p>
      </div>
      <div class="col">
        <h4>Help &amp; Support</h4>
      <ul class="footer_links">
        <li><a href="#">24x7 Live help</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Feedback</a></li>
        <li><a href="#">FAQs</a></li>
      </ul>
      </div>
      <div class="col">
        <h4>Quick Links</h4>
    <ul class="footer_links">
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms and Conditions</a></li>
      <li><a href="#">Services</a></li>
    </ul>
      </div>
      <div class="col">
        <h4>Social</h4>
      
        <a class="active" href="#"><i class="fa fa-facebook"> </i></a>&nbsp;&nbsp;
              <a href="#"><i class="fa fa-twitter"></i></a> &nbsp;&nbsp;
              <a href="#"><i class="fa fa-google-plus"></i></a> &nbsp;&nbsp;
              <a href="#"><i class="fa fa-youtube fa1"></i></a>&nbsp;&nbsp;
      </div>
    </div>
  </div>


