<app-header></app-header>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="banner">
    <div class="container" style="margin-right:0px;">
      <div class="banner_info">
        <img src="../../assets/vskqoue.jpeg" alt="" style="width:300px;height:100px;">&nbsp;
        <a href="/Registration" class="hvr-shutter-out-horizontal">Create your Profile</a>
      </div>
    </div>
  </div><br>
  <div class="grid_1">
    <div class="container">
        <h1>Latest Profiles</h1><br><br>
         <div>
          <ng-image-slider [images]="imgCollection" #nav></ng-image-slider> 
         </div>
</div><br><br><br><br><br>
<div class="grid_2">
  <div class="container">
      <h1>Success Stories</h1>
         <div class="heart-divider">
          <span class="grey-line"></span>
          <i class="fa fa-heart pink-heart"></i>
          <i class="fa fa-heart grey-heart"></i>
          <span class="grey-line"></span>
      </div>
      <div class="row_1">
       <div class="col-md-8 suceess_story">
           <ul id="Successstories"></ul>
      </div>
      <div class="col-md-4 row_1-right">
        <h3>News &amp; Events</h3>
      <div id="events"></div>
       </div>
       <div class="clearfix"> </div>
     </div>
    </div>
  </div>
  <div class="bg">
      <div class="container">
    <h1 style="color:white">Guest Messages</h1>
          <div class="heart-divider">
              <span class="grey-line"></span>
              <i class="fa fa-heart pink-heart"></i>
              <i class="fa fa-heart grey-heart"></i>
              <span class="grey-line"></span>
          </div>
          <div class="row">
            <div class="col">
               <div class="bord1">
                <h3>But I must explain</h3>
                <h5>Friend of Bride</h5>
                <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <a class="active" href="#"><i class="fa fa-facebook"> </i></a>&nbsp;&nbsp;
                <a href="#"><i class="fa fa-twitter"></i></a> &nbsp;&nbsp;
                <a href="#"><i class="fa fa-google-plus"></i></a> &nbsp;&nbsp;
                <a href="#"><i class="fa fa-youtube fa1"></i></a>&nbsp;&nbsp;
               </div>
            </div>
            <div class="col">
              <div class="bord1">
                <h3>But I must explain</h3>
                <h5>Friend of Bride</h5>
                <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <a  href="#"><i class="fa fa-facebook"> </i></a>&nbsp;&nbsp;
                <a href="#"><i class="fa fa-twitter"></i></a> &nbsp;&nbsp;
                <a href="#"><i class="fa fa-google-plus"></i></a> &nbsp;&nbsp;
                <a href="#"><i class="fa fa-youtube fa1"></i></a>&nbsp;&nbsp;
              </div>
            </div>
          </div>
          
      </div>
  </div><br><br><br>

  <div class="container">
    <div class="row">
      <div class="col">
        <h4>About Us</h4>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
             Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris."</p>
      </div>
      <div class="col">
        <h4>Help &amp; Support</h4>
      <ul class="footer_links">
        <li><a href="#">24x7 Live help</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Feedback</a></li>
        <li><a href="#">FAQs</a></li>
      </ul>
      </div>
      <div class="col">
        <h4>Quick Links</h4>
    <ul class="footer_links">
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms and Conditions</a></li>
      <li><a href="#">Services</a></li>
    </ul>
      </div>
      <div class="col">
       <h4>Social</h4>
      
        <a class="active" href="#"><i class="fa fa-facebook"> </i></a>&nbsp;&nbsp;
              <a href="#"><i class="fa fa-twitter"></i></a> &nbsp;&nbsp;
              <a href="#"><i class="fa fa-google-plus"></i></a> &nbsp;&nbsp;
              <a href="#"><i class="fa fa-youtube fa1"></i></a>&nbsp;&nbsp;
      </div>
    </div>
  </div>


