.banner {
    background: url(../../assets/banner.png)no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 650px;
}
.hvr-shutter-out-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background: #c32143;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    padding: 12px 40px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
}
.banner_info {
    margin: 0 0 0 0;
    float: right;
    padding: 35px;
}
.grid_1 h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    color: #000;
    margin-bottom: 0;
    font-weight: 500;
}
.grid_2 {
    margin-bottom: 1em;
}
.bg {
    background: url(../../assets/bg.jpg)no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 400px;
    padding: 5em 0 0 0;
}

.bg_left {
    background: #fff;
    padding: 2em;
    text-align: center;
}
.bord1
{
    border: 1px solid white;
    height: 200px;
    width: 520px;
    color:black;
    background-color: white;
}
h3,h5{
    text-align: center;
}
h5{
    color: #c32143;
}