.bord{
    border: 1px solid black;
    width: 100%;
}

.post-container {
    margin: 20px 20px 0 0;  
    // border: 1px solid #333;
    overflow: auto
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block;
    height:200px;
    width:200px;
}
.post-content {
    margin-left: 210px
}
.post-title {
    font-weight: bold;
}
h5
{
position: relative;
left:30px;
font-size: medium;
}