.breadcrumb1 ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.breadcrumb1 {
    margin-bottom: 2em;
}
.current-page{
    position: relative;
    bottom: 19px;
    left: 34px;
}
.mat-form-field {
    width:500px;
  }
  .icon-bar{
      position: relative;
      top:100px;
  }