<app-header></app-header>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head> <br><br>       
     
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="breadcrumb1">
                <ul>
                   <a href="/"><i class="fa fa-home home_1"></i></a>
                   <span class="divider">&nbsp;|&nbsp;</span>
                   <li class="current-page">Register</li>
                </ul>
              </div>
            <form class="example-form" >
                <mat-stepper #stepper>
                    <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
                      <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Fill out your name</ng-template>
                        
                        <mat-form-field appearance="fill">
                          <mat-label>Profile Created By</mat-label>
                          <mat-select  #clientValue (selectionChange)="changeClient($event.value)" >
                              <mat-option *ngFor="let pf of profilefor" [value]="pf.value" >
                              {{pf.value}}
                              </mat-option>
                          </mat-select>
                          </mat-form-field>
                        <mat-form-field appearance="fill">
                          <mat-label>Firstname</mat-label>
                          <input matInput placeholder="Enter your First name"
                          [(ngModel)]="firstname" formControlName="firstCtrl" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Surname</mat-label>
                            <input matInput placeholder="Enter your Surname"  [(ngModel)]="Surname"
                             formControlName="firstCtrl" required>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Choose gender</mat-label>
                            <mat-select  #clientValue (selectionChange)="changegen($event.value)" >
                                <mat-option *ngFor="let ge of gender" [value]="ge.value">
                                {{ge.value}}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Enter your Email"  [(ngModel)]="Email" formControlName="firstCtrl" required>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Enter your Password" [(ngModel)]="Password" formControlName="firstCtrl" required>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Mobile</mat-label>
                            <input matInput placeholder="Enter your Mobile" [(ngModel)]="Mobile" formControlName="firstCtrl" required>
                          </mat-form-field>
                          
                          <mat-form-field appearance="fill">
                            <mat-label>Maritial Status</mat-label>
                            <mat-select #clientValue (selectionChange)="changeStatus($event.value)">
                                <mat-option *ngFor="let ms of mariticalstatus" [value]="ms.value">
                                {{ms.viewValue}}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Sub Caste</mat-label>
                                <mat-select #clientValue (selectionChange)="changeCaste($event.value)">
                                    <mat-option *ngFor="let sc of caste" [value]="sc.value">
                                    {{sc.value}}
                                    </mat-option>
                                </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>Food Type</mat-label>
                                    <mat-select #clientValue (selectionChange)="changefood($event.value)">
                                        <mat-option *ngFor="let ft of fooodtype" [value]="ft.value">
                                        {{ft.value}}
                                        </mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Mother Tongue</mat-label>
                                        <mat-select #clientValue (selectionChange)="changeMothertongue($event.value)">
                                            <mat-option *ngFor="let mt of mothertonge" [value]="mt.value">
                                            {{mt.value}}
                                            </mat-option>
                                        </mat-select >
                                        </mat-form-field>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Country living in</mat-label>
                                            <mat-select #clientValue (selectionChange)="changeCounliving($event.value)">
                                                <mat-option *ngFor="let ct of countrylivingin" [value]="ct.value">
                                                {{ct.value}}
                                                </mat-option>
                                            </mat-select>
                                            </mat-form-field>
                                        
                        <div>
                          <p>Go to a different step to see the error state</p>
                          <button mat-button matStepperNext>Next</button>
                        </div>
                      </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
                      <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>Fill out your address</ng-template>
                        <mat-form-field appearance="fill">
                            <mat-label>Time of Birth</mat-label>
                            <input matInput placeholder="Enter your Time of Birth" [(ngModel)]="Timeofbirth"
                             formControlName="secondCtrl" required>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Place of Birth</mat-label>
                            <input matInput placeholder="Enter your FPlace of Birth"   [(ngModel)]="placeofbirth"
                            formControlName="secondCtrl" required>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Star</mat-label>
                            <mat-select #clientValue (selectionChange)="changeStar($event.value)">
                                <mat-option *ngFor="let sr of star" [value]="sr.value">
                                {{sr.value}}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Padam</mat-label>
                            <input matInput placeholder="Enter your Padam" [(ngModel)]="Padam"
                             formControlName="secondCtrl" required>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Rasi</mat-label>
                            <mat-select  #clientValue (selectionChange)="changeRasi($event.value)">
                                <mat-option *ngFor="let rs of rasi" [value]="rs.value">
                                {{rs.value}}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Kuja Dosam</mat-label>
                            <input matInput placeholder="Enter your Kuja Dosam" [(ngModel)]="kajuDosam"
                            formControlName="secondCtrl" required>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Gothram</mat-label>
                            <input matInput placeholder="Enter your Gothram"  [(ngModel)]="Gothram"
                            formControlName="secondCtrl" required>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Height</mat-label>
                            <mat-select  #clientValue (selectionChange)="changeHeight($event.value)">
                                <mat-option *ngFor="let hs of height" [value]="hs.value">
                                {{hs.value}}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Weight </mat-label>
                            <input matInput placeholder="Enter your Weight " [(ngModel)]="Weight"
                             formControlName="secondCtrl" required>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Complextion</mat-label>
                            <mat-select  #clientValue (selectionChange)="changeComplextion($event.value)">
                                <mat-option *ngFor="let cmp of Complextion" [value]="cmp.value">
                                {{cmp.value}}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Education </mat-label>
                            <input matInput placeholder="Enter your Education " [(ngModel)]="Education"
                             formControlName="secondCtrl" required>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Occupation </mat-label>
                            <input matInput placeholder="Enter your Occupation " [(ngModel)]="Occupation"
                            formControlName="secondCtrl" required>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Working In</mat-label>
                            <input matInput placeholder="Enter your Working In" [(ngModel)]="workingIn"
                            formControlName="secondCtrl" required>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Salary Per Annum</mat-label>
                            <input matInput placeholder="Enter your Salary Per Annum" [(ngModel)]="Salary"
                            formControlName="secondCtrl" required>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Ancestral Origin</mat-label>
                            <input matInput placeholder="Enter your Ancestral Origin" [(ngModel)]="AncestralOrigin"
                             formControlName="secondCtrl" required>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Father's Name</mat-label>
                            <input matInput placeholder="Enter your Father's Name" [(ngModel)]="Fname"
                            formControlName="secondCtrl" required>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Father's Occupation</mat-label>
                            <input matInput placeholder="Enter your Father's Occupation"  [(ngModel)]="FatherOcc"
                            formControlName="secondCtrl" required>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Mother's Name</mat-label>
                            <input matInput placeholder="Enter your Mother's Name" [(ngModel)]="Mname"
                            formControlName="secondCtrl" required>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Mother's Occupation</mat-label>
                            <input matInput placeholder="Enter your Mother's Occupation"  [(ngModel)]="MotherOccu"
                             formControlName="secondCtrl" required>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Brothers</mat-label>
                            <mat-select  #clientValue (selectionChange)="changeBrothers($event.value)">
                                <mat-option *ngFor="let bro of Brothers" [value]="bro">
                                {{bro}}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Sisters</mat-label>
                            <mat-select  #clientValue (selectionChange)="changeSisters($event.value)">
                                <mat-option *ngFor="let sis of Sisters" [value]="sis">
                                {{sis}}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Married Brothers</mat-label>
                                <mat-select  #clientValue (selectionChange)="changeMbrothers($event.value)">
                                    <mat-option *ngFor="let mbro of marriedbros" [value]="mbro">
                                    {{mbro}}
                                    </mat-option>
                                </mat-select>
                                </mat-form-field>
                                
                                    <mat-form-field appearance="fill">
                                        <mat-label>Married Sisters</mat-label>
                                        <mat-select  #clientValue (selectionChange)="changeMsisters($event.value)">
                                            <mat-option *ngFor="let msis of marriedsis" [value]="msis">
                                            {{msis}}
                                            </mat-option>
                                        </mat-select>
                                        </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Adresss </mat-label>
                            <input matInput placeholder="Enter your Adresss "  [(ngModel)]="Adresss"
                             formControlName="secondCtrl" required>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Village </mat-label>
                            <input matInput placeholder="Enter your Village " [(ngModel)]="Village"
                            formControlName="secondCtrl" required>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>City </mat-label>
                            <input matInput placeholder="Enter your City " [(ngModel)]="City"
                            formControlName="secondCtrl" required>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>State</mat-label>
                            <mat-select  #clientValue (selectionChange)="changeState($event.value)">
                                <mat-option *ngFor="let st of State" [value]="st.value">
                                {{st.value}}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Country</mat-label>
                                <mat-select  #clientValue (selectionChange)="changeCountry($event.value)">
                                    <mat-option *ngFor="let ct of Country" [value]="ct.value">
                                    {{ct.value}}
                                    </mat-option>
                                </mat-select>
                                </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Reference</mat-label>
                            <input matInput placeholder="Enter your Reference"   [(ngModel)]="Reference"
                             formControlName="secondCtrl" required>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Alternate Mobile </mat-label>
                            <input matInput placeholder="Enter your Alternate Mobile "  [(ngModel)]="AlternateMobile"
                            formControlName="secondCtrl" required>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Family Details</mat-label>
                            <input matInput placeholder="Enter your Family Details"  [(ngModel)]="Familydetails"
                            formControlName="secondCtrl" required>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Property Details</mat-label>
                            <input matInput placeholder="Enter your Property Details"  [(ngModel)]="Property"
                             formControlName="secondCtrl" required>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Partner Preference</mat-label>
                            <input matInput placeholder="Enter your Partner Preference"  [(ngModel)]="Partnerpree"
                            formControlName="secondCtrl" required>
                          </mat-form-field>
                        <div>
                          <p>Go to a different step to see the error state</p>
                          <button mat-button matStepperPrevious>Back</button>
                          <button mat-button matStepperNext  (click)="register()">Register</button>
                        </div>
                      </form>
                    </mat-step>
                    <mat-step>
                      <ng-template matStepLabel>Done</ng-template>
                      <p>You are now done.</p>
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                      </div>
                    </mat-step>
                  </mat-stepper>
                  
            </form>  
          </div>
          <div class="col">
            <div class="icon-bar">
                <a class="active" href="#"><i class="fa fa-facebook">&nbsp;&nbsp; &nbsp;&nbsp;Share on Facebook </i></a> <br><br>
                <a href="#"><i class="fa fa-twitter">&nbsp;&nbsp;&nbsp;&nbsp;Tweet</i></a> <br><br>
                <a href="#"><i class="fa fa-google-plus">&nbsp;&nbsp;&nbsp;&nbsp;Share on Google+</i></a> <br><br>
                <a href="#"><i class="fa fa-linkedin">&nbsp;&nbsp;&nbsp;&nbsp;Share on LinkedIn</i></a><br><br>
                <a href="#"><i class="fa fa-envelope-o">&nbsp;&nbsp;&nbsp;&nbsp;E-mail</i></a> <br><br>
     
    </div>
          </div>
        </div>
      </div><br><br><br><br><br>
     
        <div class="container">
            <div class="row">
              <div class="col">
                <h4>About Us</h4>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris."</p>
              </div>
              <div class="col">
                <h4>Help &amp; Support</h4>
              <ul class="footer_links">
                <li><a href="#">24x7 Live help</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Feedback</a></li>
                <li><a href="#">FAQs</a></li>
              </ul>
              </div>
              <div class="col">
                <h4>Quick Links</h4>
            <ul class="footer_links">
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms and Conditions</a></li>
              <li><a href="#">Services</a></li>
            </ul>
              </div>
              <div class="col">
                Column <h4>Social</h4>
              
                <a class="active" href="#"><i class="fa fa-facebook"> </i></a>&nbsp;&nbsp;
                      <a href="#"><i class="fa fa-twitter"></i></a> &nbsp;&nbsp;
                      <a href="#"><i class="fa fa-google-plus"></i></a> &nbsp;&nbsp;
                      <a href="#"><i class="fa fa-youtube fa1"></i></a>&nbsp;&nbsp;
              </div>
            </div>
          </div>
                
                
                
                    
                  
               
                
           
       